<div class="app-body" style="height: 100vh;
  display: flex;
  align-items: center">
    <main class="main d-flex align-items">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form [formGroup]="form">
                                    <h1>Iniciar Sesión</h1>
                                    <p></p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <input  formControlName="'username'" type="text" class="form-control" placeholder="Usuario"
                                            autocomplete="Username" required>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                    <input formControlName="password" type="password" class="form-control" placeholder="Contraseña"
                                        required > 
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button (click)="login()" type="button" class="btn btn-success px-6">Iniciar Sesión</button>
                                        </div>
                                        <div class="col-6 text-right">
                                           <button type="button" class="btn btn-link px-0">.</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card text-white bg-success py-5 d-md-down-none" style="width:44%;">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Dinox Turno  V1.0</h2>
                                    <p>Duque Villalba</p>
                                   <img src="assets/img/brand/Dinox.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>